@media screen and (max-width: 1200px) { 

.employment{
    display: none;
}

}

@media screen and (min-width: 1200px){

.employment.section{
    padding-top: 0;
}

.employment-list {
    display: flex;
    flex-direction: row;
}

.employment-list__item {
    flex-basis: calc((100% - 30px) / 3);

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.employment-list__item-wrapper {
    position: relative;
}

.employment-list__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    /* text-align: center; */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
}