.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.portfolio-list__link {
    display: block;
    cursor: pointer;
    transition: box-shadow 250ms var(--main-timing-function);

    &:hover,
    &:focus {
        border: 1px solid #eeeeee;
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
.portfolio-list__img{
    width: 450px;
    height: 294px;
}
.portfolio-list__item {
    
    margin-bottom: 30px;
}

.portfolio-list__link-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-list__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--primary-white-color);
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.55;
    overflow: hidden;
    transform: translateY(100%);
    transition: transform 250ms var(--main-timing-function);

    .portfolio-list__link:hover &,
    .portfolio-list__link:focus & {
        transform: translateY(0%);
    }
}

.portfolio__content-wrapper {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
 
}

.portfolio__subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-txt-color);
}

.portfolio__description {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-txt-color);
}

@media screen and (min-width: 768px) {
    .portfolio-list__link{
        height: 100%;
        
    }
    .portfolio-list__img {
    width: 354px;
    
}
    .portfolio-list {
            flex-direction: row;
            margin-right: -30px;
            margin-bottom: -30px;
    }
    .portfolio-list__item {
                margin-bottom: 30px;
                
                &:not(:nth-child(even)) {
                    margin-right: 30px;
                }
}


@media screen and (min-width: 1200px) {
.portfolio-list__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}
}

}