.footer__logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-white-color);

    & .logo_color_blue {
        display: inline-block;
        margin-bottom: 20px;
    }
}

