.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 610px;
    background-color: var(--primary-white-color);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms var(--main-timing-function);
    padding: 40px 40px;
    
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: fill 250ms var(--main-timing-function);

    &:focus,
    &:hover {
        fill: var(--accent-color);
    }
}

@media screen and (min-width: 1200px) {
.modal {
    width: 528px;
    height: 580px;

}
}
