.contact-form__field {
    display: block;
    margin-bottom: 10px;
    
}

.contact-form__title_main {
    display: inline-block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-txt-color);
}

.contact-form__input-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
}

.contact-form__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    transition: border-color 250ms var(--main-timing-function);
    cursor: pointer;

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.contact-form__title {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-txt-color);
}



.contact-form__icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--title-txt-color);
    transition: fill 250ms var(--main-timing-function);

    .contact-form-input:focus+& {
        fill: var(--accent-color);
    }
}

.contact-form__message {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    transition: border-color 250ms var(--main-timing-function);
    cursor: pointer;

    &::placeholder {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
    
    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }

}

.contact-form__checkbox-wrapper {
    
    margin-bottom: 30px;
}

.contact-form__checkbox-label {
    display: flex;
    align-items: center;

    &::before {
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 2px solid var(--title-txt-color);
        border-radius: 2px;
        content: '';
        cursor: pointer;
        margin-right: 10px;

        .contact-form__checkbox:checked+& {
            background-image: url('../images/check.svg');
            border: none;
        }
        .contact-form__checkbox:focus+& {
            box-shadow: inset 0px 0px 4px var(--accent-color);
        }
    }
}

.accept-policy__title {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-txt-color);

}

.accept-policy__link {
    color: var(--accent-color);
}

.contact-form__submit-btn {
    display: block;
    margin: 0 auto;
    min-width: 200px;
    padding: 10px 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: none;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms var(--main-timing-function);

    &:hover,
    &:focus {
        background-color: var(--button-hover);
    }
}

@media screen and (min-width: 1200px) {
.contact-form__title_main {
    font-size: 20px;
    line-height: 1.15;
}

.accept-policy__title {
    font-size: 14px;
    line-height: 1.71;
}
.contact-form__checkbox-wrapper {
    margin-left: 12px;
}
}


