.modal-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    transition: background-color 250ms var(--main-timing-function);

    &:hover,
    &:focus {
        background-color: var(--button-hover);
    }
}

