.subscribe-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-form__title {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 20px;
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.subscribe-form__field {
    margin-bottom: 20px;
}

.subscribe-form__input {
    display: flex;
    padding-left: 16px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    cursor: pointer;
    color: var(--primary-white-color);

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}

.subscribe-form__button {
    display: flex;
    min-width: 200px;
    height: 50px;
    padding: 10px 28px;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;

    &::after {
        content: '';
        width: 24px;
        height: 24px;
        margin-left: 10px;
        background-image: url('../images/send.svg');
    }
}

@media screen and (min-width: 480px) {
    .subscribe-form__input {
            min-width: 450px;
    }
}
@media screen and (max-width: 1199px) {
.subscribe-form__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

}
@media screen and (min-width: 1200px) {
    .subscribe-container {
        justify-content: left;
        align-items: baseline;
    }

    .subscribe-form__wrapper {
        display: flex;
    justify-content: left;
    align-items: baseline;
    
    }
    .subscribe-form__title {
        
        justify-content: left;
    }

    .subscribe-form__field {
        margin-right: 12px;
    }
    .subscribe-form__input {
    min-width: 358px;
    }

}
