:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-famile: 'Raleway', sans-serif;
    --primary-txt-color: #757575;
    --title-txt-color: #212121;
    --primary-white-color: #ffffff;
    --accent-color: #2196f3;
    --button-hover: #188ce8;
    --primary-black-color: #000;
    --bg-color-hero-footer: #2f303a;
    --secondary-bg-color: #f5f4fa;
    --main-icon-color: #afb1b8;
    --main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}